.body{
    text-align: justify;
    width: 500px;
    margin: auto;
    padding: 35px;
}
.altabaja{
    width: 400px;
    height:fit-content;
    align-items: center;
    margin: auto;
}
.doc{
    font-family: 'Courier New', Courier, monospace;
}
.titulo1{
    padding:7px;
    margin:auto;
    text-align: center;
}
.bot{   
    width: 100px;
    font-size: 30px;    
    padding: 2rem;
    margin: 2rem;
}
.bot2{   
    width: 150px;
    padding: 2rem;
    margin: 2rem;
}
.bot:hover{
    cursor: pointer;
}